@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.carousel {
  transition: .5s;
  transform-origin: center center;
}

.carousel::before {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 50% 0 0 50%;
}

.item-carousel {
  font-size: 14px;
  margin: 2px;
  transition: .5s;

  &:nth-child(1) {
    right: 1px;
    top: 96px;
  }
  &:nth-child(2) {
    right: -8px;
    top: 213px;
  }
  &:nth-child(3) {
    right: 60px;
    top: 314px;
  }
  &:nth-child(4) {
    right: 181px;
    top: 347px;
  }
  &:nth-child(5) {
    right: 289px;
    top: 301px;
  }
  &:nth-child(6) {
    right: 345px;
    top: 206px;
  }
}
