@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.carousel {
  transition: .5s;
  transform-origin: center center;
}

.carousel::before {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 50% 0 0 50%;
}

.item-carousel {
  font-size: 14px;
  margin: 2px;
  transition: .5s;

  &:nth-child(1) {
    right: 40px;
    top: 40px;
  }
  &:nth-child(2) {
    right: -12px;
    top: 171px;
  }
  &:nth-child(3) {
    right: 40px;
    top: 295px;
  }
  &:nth-child(4) {
    right: 168px;
    top: 349px;
  }
  &:nth-child(5) {
    right: 295px;
    top: 295px;
  }
  &:nth-child(6) {
    right: 348px;
    top: 169px;
  }
}
